__pycache__/
.idea/
.vscode/

local/
TODO.md
run.bat

# 根配置
/config/*.yaml
!/config/config-template.yaml

# 配置文件
**/.env
**/.env.*
**/config.yaml
!config/config-template.yaml
!plugins/llm/config/config-template.yaml
!Wcf/config/config-template.yaml
